@font-face {
  font-family: "Geometria";
  font-weight: 400;
  src: url("./fonts/Geometria.eot") format("embedded-opentype"),
  url("./fonts/Geometria.woff2") format("woff2"),
  url("./fonts/Geometria.woff") format("woff"),
  url("./fonts/Geometria.ttf") format("truetype");
}
@font-face {
  font-family: "Geometria";
  font-weight: 700;
  src: url("./fonts/Geometria-Bold.eot") format("embedded-opentype"),
  url("./fonts/Geometria-Bold.woff2") format("woff2"),
  url("./fonts/Geometria-Bold.woff") format("woff"),
  url("./fonts/Geometria-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Geometria";
  font-weight: 900;
  src: url("./fonts/Geometria-ExtraBold.eot") format("embedded-opentype"),
  url("./fonts/Geometria-ExtraBold.woff2") format("woff2"),
  url("./fonts/Geometria-ExtraBold.woff") format("woff"),
  url("./fonts/Geometria-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Geometria";
  font-weight: 300;
  src: url("./fonts/Geometria-Light.eot") format("embedded-opentype"),
  url("./fonts/Geometria-Light.woff2") format("woff2"),
  url("./fonts/Geometria-Light.woff") format("woff"),
  url("./fonts/Geometria-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Gilroy-Light";
  src: url("./fonts/Gilroy-Light.otf") format("opentype");
}
@font-face {
  font-family: "Gilroy-ExtraBold";
  src: url("./fonts/Gilroy-ExtraBold.otf") format("opentype");
}